* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #1D2D3E;
    --azul-claro: #5FCAD8 ;
    --verde-claro: #F0F9EE;
    --cinza: #D9D9D9;
    --white: #FFFFFF;
    --button: #0A0E13;
}


header {
    background-color: var(--azul-escuro);
    top: 0; 
    width: 100%;
    position: fixed;

    height: 1440px 132px;

    
    left: 0;
    z-index: 1;

    object-fit: contain;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

}

nav a {
    color: var(--white);
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;

    padding: 50px 85px;
    text-decoration: none;
}

nav a:hover {
    color: var(--azul-claro);
}

nav img {
    max-width: 40%;

}

main {
    height: 100vh;
}

.cadastro {
    background-image: url(/imgs/background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;

    margin-top: 11.5rem;

    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cadastro p {
    color: var(--white);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    margin-top: 53px;
}

.cadastro a {
    color: var(--azul-claro);
    text-decoration: none;
}

.cadastro button {
    background-color: var(--cinza);
    border: none; 
    cursor: pointer;  
    border-radius: 50px;
    width: 400px;
    height: 55px;

    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 20px;


    margin-top: 2rem;
    
}

.cadastro button:hover {
    background-color: #b9b8b8;
}

.cadastro form {
    margin-top: 2rem;

    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
  
.cadastro h1{
    margin-top: 5rem;
    font-family: 'Staatliches';
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}
  

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form ::placeholder {
    font-family: 'Inter';
    font-weight: bold;
    
    color: var(--white);
  }
  
 main input {
    padding: 25px ;
    width: 50%;
    border: none;
    border-radius: 35px;
    background: #131B25;
    color: #fff;
    font-size: 20px;
    
  }
 
  main form p {
    font-size: 14px;
  }
  
  main form p a {
    color: #00bcd4;
    text-decoration: none;
  }